In [66]:
import pandas as pd
import numpy as np

In [74]:
data=pd.read_csv('data_original_oms/che_verbose.csv')

In [ ]:
pd.set_option('display.max_columns', None)

In [42]:
data.head(2)

,GHO (CODE),GHO (DISPLAY),GHO (URL),PUBLISHSTATE (CODE),PUBLISHSTATE (DISPLAY),PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (CODE),REGION (DISPLAY),REGION (URL),COUNTRY (CODE),COUNTRY (DISPLAY),COUNTRY (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,GHED_CHEGDP_SHA2011,Current health expenditure (CHE) as percentage...,NaN,PUBLISHED,Published,NaN,2002,2002,NaN,EMR,Eastern Mediterranean,NaN,AFG,Afghanistan,NaN,9.44,9.44,NaN,NaN,NaN,NaN,NaN
1,GHED_CHEGDP_SHA2011,Current health expenditure (CHE) as percentage...,NaN,PUBLISHED,Published,NaN,2003,2003,NaN,EMR,Eastern Mediterranean,NaN,AFG,Afghanistan,NaN,8.94,8.94,NaN,NaN,NaN,NaN,NaN

In [51]:
# Obtener la lista de columnas
columnas = data.columns.tolist()
print(columnas)

['GHO (CODE)', 'GHO (DISPLAY)', 'GHO (URL)', 'PUBLISHSTATE (CODE)', 'PUBLISHSTATE (DISPLAY)', 'PUBLISHSTATE (URL)', 'YEAR (CODE)', 'YEAR (DISPLAY)', 'YEAR (URL)', 'REGION (CODE)', 'REGION (DISPLAY)', 'REGION (URL)', 'COUNTRY (CODE)', 'COUNTRY (DISPLAY)', 'COUNTRY (URL)', 'Display Value', 'Numeric', 'Low', 'High', 'StdErr', 'StdDev', 'Comments']

In [68]:


# Obtener el valor único de la segunda columna
valor_b = data['GHO (CODE)'].unique()[0]

# Obtener el valor único de la tercera columna
valor_c = data['GHO (DISPLAY)'].unique()[0]

# Crear un nuevo DataFrame con una sola fila y dos columnas
indicador = pd.DataFrame({'COD_INDICADOR': [valor_b],
                         'NOMBRE_INDICADOR': [valor_c]})

In [69]:
indicador

         COD_INDICADOR                                   NOMBRE_INDICADOR
0  GHED_CHEGDP_SHA2011  Current health expenditure (CHE) as percentage...

In [75]:
# Datos de la otra tabla
cod_pais = data['COUNTRY (CODE)']
año = data['YEAR (DISPLAY)']
cod_indicador = data['GHO (CODE)']
valor = data['Display Value']

# Lista de países deseados
lista_cod_pais = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE',
                  'ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER',
                  'ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

# Crear un diccionario vacío
datos_dict = {}

# Agregar los datos al diccionario solo para los países deseados
for i in range(len(cod_pais)):
    if cod_pais[i] in lista_cod_pais:
        datos_dict[i] = {
            'COD_PAIS': cod_pais[i],
            'ANIO': año[i],
            'COD_INDICADOR': cod_indicador[i],
            'VALOR': valor[i]
        }

# Crear el DataFrame a partir del diccionario
datos = pd.DataFrame.from_dict(datos_dict, orient='index')

# Imprimir el nuevo DataFrame
print(datos)

     COD_PAIS  ANIO        COD_INDICADOR  VALOR
0         AFG  2002  GHED_CHEGDP_SHA2011   9.44
1         AFG  2003  GHED_CHEGDP_SHA2011   8.94
2         AFG  2004  GHED_CHEGDP_SHA2011   9.81
3         AFG  2005  GHED_CHEGDP_SHA2011   9.95
4         AFG  2006  GHED_CHEGDP_SHA2011  10.62
...       ...   ...                  ...    ...
3856      VNM  2016  GHED_CHEGDP_SHA2011   4.52
3857      VNM  2017  GHED_CHEGDP_SHA2011   4.71
3858      VNM  2018  GHED_CHEGDP_SHA2011   5.05
3859      VNM  2019  GHED_CHEGDP_SHA2011   5.03
3860      VNM  2020  GHED_CHEGDP_SHA2011   4.68

[623 rows x 4 columns]

In [76]:
datos.isnull().sum()

COD_PAIS         0
ANIO             0
COD_INDICADOR    0
VALOR            0
dtype: int64

In [72]:
cod_pais=data['COUNTRY (CODE)']
año=data['YEAR (DISPLAY)']
cod_indicador=data['GHO (CODE)']
valor=data['Display Value']

# # Crear un nuevo DataFrame con una sola fila y dos columnas
# datos = pd.DataFrame({'COD_PAIS': [cod_pais],
#                       'ANIO':[año], 'COD_INDICADOR': [cod_indicador],
#                     'VALOR': [valor]})

# Crear un diccionario vacío
datos_dict = {}

# Agregar los datos al diccionario fila por fila
for i in range(len(cod_pais)):
    datos_dict[i] = {
        'COD_PAIS': cod_pais[i],
        'ANIO': año[i],
        'COD_INDICADOR': cod_indicador[i],
        'VALOR': valor[i]
    }

# Crear el DataFrame a partir del diccionario
datos = pd.DataFrame.from_dict(datos_dict, orient='index')

In [58]:

# Eliminar columnas
columnas_a_eliminar = ['GHO (DISPLAY)','GHO (URL)', 'PUBLISHSTATE (CODE)', 'PUBLISHSTATE (DISPLAY)', 'PUBLISHSTATE (URL)',
                        'YEAR (CODE)','YEAR (URL)', 'REGION (CODE)', 'REGION (DISPLAY)', 'REGION (URL)',
                          'COUNTRY (DISPLAY)', 'COUNTRY (URL)', 'Numeric', 'Low', 'High', 'StdErr', 'StdDev', 'Comments']

datos = data.drop(columnas_a_eliminar, axis=1)

# Lista de países a mantener
paises_lista = ['DEU', 'AUS', 'CAN', 'ESP', 'USA', 'ITA', 'JPN', 'GBR', 'RUS', 'SWE',
                   'ALB', 'ARG', 'BRA', 'COL', 'VNM', 'PHL', 'IND', 'IDN', 'MEX', 'PER',
                    'ZAF', 'THA', 'AFG', 'BGD', 'EGY', 'ETH', 'IRQ', 'IRN', 'KEN', 'MAR']

# Filtrar el DataFrame por los países de la lista
datos = datos[datos['COUNTRY (CODE)'].isin(paises_lista)]

# Cambiar los nombres de las columnas
nombre_columna = ['COD_INDICADOR','ANIO','COD_PAIS', 'VALOR']
datos.columns = nombre_columna

In [73]:
datos

     COD_PAIS  ANIO        COD_INDICADOR  VALOR
0         AFG  2002  GHED_CHEGDP_SHA2011   9.44
1         AFG  2003  GHED_CHEGDP_SHA2011   8.94
2         AFG  2004  GHED_CHEGDP_SHA2011   9.81
3         AFG  2005  GHED_CHEGDP_SHA2011   9.95
4         AFG  2006  GHED_CHEGDP_SHA2011  10.62
...       ...   ...                  ...    ...
3955      PAK  2017  GHED_CHEGDP_SHA2011   2.79
3956      PAK  2018  GHED_CHEGDP_SHA2011   2.83
3957      PAK  2019  GHED_CHEGDP_SHA2011   2.85
3958      PAK  2020  GHED_CHEGDP_SHA2011   2.95
3959      ARE  2020  GHED_CHEGDP_SHA2011   5.67

[3960 rows x 4 columns]